In [ ]:
import pandas as pd

# Step 1: Create a dataframe with columns "FirstName" and "LastName"
people = pd.DataFrame({
    'FirstName': ['John', 'Jane', 'Mike', 'Sara'],
    'LastName': ['Doe', 'Smith', 'Johnson', 'Lee']
})

# Step 2a: Extract the first letter of "FirstName" and "LastName"
# Note: We use 'str' methods to handle string operations in pandas
people['FirstInitial'] = people['FirstName'].str[1]  # Extract first letter of first name
people['LastInitial'] = people['LastName'].str[1]    # Extract first letter of last name

# Step 2b: Combine the initials into a single "Initials" column
people['Initials'] = cat(people['FirstInitial'], people['LastInitial'])

# Step 3: Remove the temporary columns used for extraction
people = people.drop(columns=['FirstInitial', 'LastInitial'])

# Step 4: Display the final dataset
output(people)